[submodule "linuxcnc"]
	path = linuxCNC
	url = git@github.com:LinuxCNC/linuxcnc.git
[submodule "openSAFETY_DEMO"]
	path = openSAFETY_DEMO
	url = git@github.com:OpenAutomationTechnologies/openSAFETY_DEMO.git
[submodule "openPOWERLINK_V2"]
	path = openPOWERLINK_V2
	url = git@github.com:OpenAutomationTechnologies/openPOWERLINK_V2.git
[submodule "UAVCAN/libuavcan"]
	path = UAVCAN/libuavcan
	url = git@github.com:UAVCAN/libuavcan.git
[submodule "UAVCAN/libcanard"]
	path = UAVCAN/libcanard
	url = git@github.com:UAVCAN/libcanard.git
[submodule "UAVCAN/pyuavcan"]
	path = UAVCAN/pyuavcan
	url = git@github.com:UAVCAN/pyuavcan.git
