[submodule "linuxcnc"]
	path = linuxCNC/linuxcnc
	url = https://github.com/LinuxCNC/linuxcnc.git
[submodule "openSAFETY_DEMO"]
	path = openSAFETY_DEMO
	url = https://github.com/OpenAutomationTechnologies/openSAFETY_DEMO.git
[submodule "Protocols/openPOWERLINK_V2"]
	path = Protocols/openPOWERLINK_V2
	url = https://github.com/OpenAutomationTechnologies/openPOWERLINK_V2.git
[submodule "Protocols/UAVCAN/libuavcan"]
	path = Protocols/UAVCAN/libuavcan
	url = https://github.com/UAVCAN/libuavcan.git
[submodule "Protocols/UAVCAN/libcanard"]
	path = Protocols/UAVCAN/libcanard
	url = https://github.com/UAVCAN/libcanard.git
[submodule "Protocols/UAVCAN/pyuavcan"]
	path = Protocols/UAVCAN/pyuavcan
	url = https://github.com/UAVCAN/pyuavcan.git
[submodule "openPLC"]
	path = linuxPLC
	url = https://github.com/thiagoralves/OpenPLC.git
[submodule "openPLCv2"]
	path = linuxPLCv2
	url = https://github.com/thiagoralves/OpenPLC_v2.git
[submodule "open-plc"]
	path = open-plc
	url = https://github.com/leocat3/open-plc.git
[submodule "stellarisMODBUS"]
	path = stellarisMODBUS
	url = https://github.com/mota37/Modbus.git
[submodule "GE-PLC"]
	path = GE-PLC
	url = https://github.com/mota37/GE-PLC.git
[submodule "Protocols/bacnet-stack"]
	path = Protocols/BACNet/bacnet-stack
	url = https://github.com/stargieg/bacnet-stack.git
[submodule "Protocols/libmodbus"]
	path = Protocols/Modbus/libmodbus
	url = https://github.com/stephane/libmodbus.git
[submodule "Protocols/can-utils"]
	path = Protocols/CAN/SocketCAN/can-utils
	url = https://github.com/linux-can/can-utils.git
[submodule "Protocols/can-tests"]
	path = Protocols/CAN/SocketCAN/can-tests
	url = https://github.com/linux-can/can-tests.git
[submodule "Protocols/cannelloni"]
	path = Protocols/CAN/SocketCAN/cannelloni
	url = https://github.com/mguentner/cannelloni.git
[submodule "Protocols/freemodbus"]
	path = Protocols/Modbus/freemodbus
	url = https://github.com/webconn/freemodbus.git
[submodule "Protocols/socketcand"]
	path = Protocols/CAN/SocketCAN/socketcand
	url = https://github.com/dschanoeh/socketcand.git
[submodule "Protocols/freemodbus-v1.5.0"]
	path = Protocols/Modbus/freemodbus-v1.5.0
	url = https://github.com/nucleron/freemodbus-v1.5.0.git
[submodule "Protocols/EtherCAT-Slave"]
	path = Protocols/EtherCAT/OpenEtherCATSociety/EtherCAT-Slave
	url = https://github.com/OpenEtherCATsociety/SOES.git
[submodule "Protocols/EtherCAT-Master"]
	path = Protocols/EtherCAT/OpenEtherCATSociety/EtherCAT-Master
	url = https://github.com/OpenEtherCATsociety/SOEM.git
[submodule "Protocols/CANOpen/CANopenNode"]
	path = Protocols/CAN/CANopen/CANopenNode
	url = https://github.com/CANopenNode/CANopenNode.git
[submodule "Protocols/CANOpen/CANopenSocket"]
	path = Protocols/CAN/CANopen/CANopenSocket
	url = https://github.com/CANopenNode/CANopenSocket.git
[submodule "Protocols/rscada-libmodbus"]
	path = Protocols/rscada-libmodbus
	url = https://github.com/rscada/libmodbus.git
[submodule "Protocols/rscada-libcanopen"]
	path = Protocols/rscada-libcanopen
	url = https://github.com/rscada/libcanopen.git
[submodule "CAN-Ethernet-Gateway/can_eth_gw"]
	path = CAN-Ethernet-Gateway/can_eth_gw
	url = https://github.com/can-eth-gw/can_eth_gw.git
[submodule "CAN-Ethernet-Gateway/cegwsend"]
	path = CAN-Ethernet-Gateway/cegwsend
	url = https://github.com/can-eth-gw/cegwsend.git
[submodule "CAN-Ethernet-Gateway/cegwctl"]
	path = CAN-Ethernet-Gateway/cegwctl
	url = https://github.com/can-eth-gw/cegwctl.git
[submodule "Protocols/OpENer"]
	path = Protocols/OpENer
	url = https://github.com/EIPStackGroup/OpENer.git
[submodule "Protocols/CIPster"]
	path = Protocols/CIPster
	url = https://github.com/liftoff-sr/CIPster.git
[submodule "SocketCAN/test-can-j1939"]
	path = Protocols/CAN/SocketCAN/test-can-j1939
	url = https://github.com/kurt-vd/test-can-j1939.git
[submodule "SocketCAN/libsocketcan"]
	path = Protocols/CAN/SocketCAN/libsocketcan
	url = https://github.com/lalten/libsocketcan.git
[submodule "Protocols/CANtact/cantact-fw"]
	path = Protocols/CAN/CANtact/cantact-fw
	url = https://github.com/linklayer/cantact-fw.git
[submodule "Protocols/CANtact/candleLight_fw"]
	path = Protocols/CAN/CANtact/candleLight_fw
	url = https://github.com/HubertD/candleLight_fw.git
[submodule "SocketCAN/socketcan_gs_usb"]
	path = Protocols/CAN/SocketCAN/socketcan_gs_usb
	url = https://github.com/HubertD/socketcan_gs_usb.git
[submodule "SocketCAN/cangaroo"]
	path = Protocols/CAN/SocketCAN/cangaroo
	url = https://github.com/HubertD/cangaroo.git
[submodule "SocketCAN/icsscand"]
	path = Protocols/CAN/SocketCAN/icsscand
	url = https://github.com/intrepidcs/icsscand.git
[submodule "Protocols/CANOpen/CANFestivino"]
	path = Protocols/CAN/CANopen/CANFestivino
	url = https://github.com/jgeisler0303/CANFestivino.git
[submodule "Protocols/FlexCAN/FlexCAN_Library"]
	path = Protocols/CAN/FlexCAN/FlexCAN_Library
	url = https://github.com/pawelsky/FlexCAN_Library.git
[submodule "SocketCAN/intrepid-socketcan-kernel-module"]
	path = Protocols/CAN/SocketCAN/intrepid-socketcan-kernel-module
	url = https://github.com/intrepidcs/intrepid-socketcan-kernel-module.git
[submodule "SocketCAN/icsneo_sample_linux"]
	path = Protocols/CAN/SocketCAN/icsneo_sample_linux
	url = https://github.com/intrepidcs/icsneo_sample_linux.git
[submodule "SocketCAN/icsneoapi"]
	path = Protocols/CAN/SocketCAN/icsneoapi
	url = https://github.com/intrepidcs/icsneoapi.git
[submodule "Protocols/bacnet-demo"]
	path = Protocols/BACNet/bacnet-demo
	url = https://github.com/embeddedarm/bacnet-demo.git
[submodule "DieBie/DieBieMS"]
	path = DieBie/DieBieMS
	url = https://github.com/DieBieEngineering/DieBieMS.git
[submodule "DieBie/DieBieMS-Firmware"]
	path = DieBie/DieBieMS-Firmware
	url = https://github.com/DieBieEngineering/DieBieMS-Firmware.git
[submodule "DieBie/DieBieSlave-Firmware"]
	path = DieBie/DieBieSlave-Firmware
	url = https://github.com/DieBieEngineering/DieBieSlave-Firmware.git
[submodule "DieBie/DieBieMS-Bootloader"]
	path = DieBie/DieBieMS-Bootloader
	url = https://github.com/DieBieEngineering/DieBieMS-Bootloader.git
[submodule "grbl"]
	path = Protocols/G-Code/grbl
	url = https://github.com/grbl/grbl.git
[submodule "Protocols/FNET"]
	path = Protocols/FNET
	url = https://github.com/butok/FNET.git
[submodule "ethercat-demo"]
	path = Protocols/EtherCAT/EtherCAT-Demo
	url = https://github.com/tmtsoftware/ethercat-demo.git
[submodule "Protocols/libpcan"]
	path = Protocols/CAN/libpcan
	url = https://github.com/kralf/libpcan.git
[submodule "Protocols/libcan"]
	path = Protocols/CAN/libcan
	url = https://github.com/kralf/libcan.git
[submodule "Protocols/libcpc"]
	path = Protocols/CAN/libcpc
	url = https://github.com/kralf/libcpc.git
[submodule "Protocols/libcanplusplus"]
	path = Protocols/CAN/libcanplusplus
	url = https://github.com/ethz-asl/libcanplusplus.git
[submodule "EPICS/mrfioc2"]
	path = EPICS/mrfioc2
	url = https://github.com/epics-modules/mrfioc2.git
[submodule "EPICS/dxp"]
	path = EPICS/dxp
	url = https://github.com/epics-modules/dxp.git
[submodule "EPICS/motor"]
	path = EPICS/motor
	url = https://github.com/epics-modules/motor.git
[submodule "EPICS/modbus"]
	path = EPICS/modbus
	url = https://github.com/epics-modules/modbus.git
[submodule "EPICS/ipac"]
	path = EPICS/ipac
	url = https://github.com/epics-modules/ipac.git
[submodule "EPICS/hpi6016"]
	path = EPICS/hpi6016
	url = https://github.com/mdavidsaver/hpi6016.git
[submodule "EPICS/ethercat"]
	path = EPICS/ethercat
	url = https://github.com/dls-controls/ethercat.git
[submodule "EPICS/asyn"]
	path = EPICS/asyn
	url = https://github.com/epics-modules/asyn.git
[submodule "EPICS/pscdrv"]
	path = EPICS/pscdrv
	url = https://github.com/mdavidsaver/pscdrv.git
[submodule "linuxcnc-ethercat"]
	path = linuxCNC/linuxcnc-ethercat
	url = https://github.com/sittner/linuxcnc-ethercat.git
[submodule "linuxcnc-mbslave"]
	path = linuxCNC/linuxcnc-mbslave
	url = https://github.com/sittner/linuxcnc-mbslave.git
[submodule "linuxcnc-fgfdm"]
	path = linuxCNC/linuxcnc-fgfdm
	url = https://github.com/sittner/linuxcnc-fgfdm.git
[submodule "ethercat-drivers"]
	path = Protocols/EtherCAT/EtherCAT-drivers
	url = https://github.com/ahoarau/ethercat-drivers.git
[submodule "EPOS/libepos"]
	path = EPOS/libepos
	url = https://github.com/kralf/libepos.git
[submodule "EPOS/epos"]
	path = EPOS/epos
	url = https://github.com/dimasad/epos.git
[submodule "EPOS/epos2"]
	path = EPOS/epos2
	url = https://github.com/sperre/epos2.git
[submodule "EPOS/ipa_epos_hardware"]
	path = EPOS/ipa_epos_hardware
	url = https://github.com/ipa320/ipa_epos_hardware.git
[submodule "EPOS/epos2_motor_controller"]
	path = EPOS/epos2_motor_controller
	url = https://github.com/uos/epos2_motor_controller.git
[submodule "EPOS/EPOSControl"]
	path = EPOS/EPOSControl
	url = https://github.com/abroun/EPOSControl.git
[submodule "Protocols/CAN/CANopen/CANopenPIC"]
	path = Protocols/CAN/CANopen/CANopenPIC
	url = https://github.com/CANopenNode/CANopenPIC.git
[submodule "Protocols/EtherCAT/arducat"]
	path = Protocols/EtherCAT/arducat
	url = https://github.com/ethercat-diy/arducat.git
[submodule "Protocols/EtherCAT/stm32f4_ethercat"]
	path = Protocols/EtherCAT/stm32f4_ethercat
	url = https://github.com/ethercat-diy/stm32f4_ethercat.git
[submodule "Protocols/EtherCAT/ihmc-ethercat-master"]
	path = Protocols/EtherCAT/ihmc-ethercat-master
	url = https://github.com/ihmcrobotics/ihmc-ethercat-master.git
[submodule "Protocols/Modbus/modbuspp"]
	path = Protocols/Modbus/modbuspp
	url = https://github.com/fanzhe98/modbuspp.git
[submodule "Protocols/Modbus/modbus"]
	path = Protocols/Modbus/modbus
	url = https://github.com/andresarmento/modbus.git
[submodule "Protocols/EtherCAT/lolaCAT"]
	path = Protocols/EtherCAT/lolaCAT
	url = https://github.com/am-lola/lolaCAT.git
[submodule "Protocols/EtherCAT/Beckhoff/CCAT"]
	path = Beckhoff/CCAT
	url = https://github.com/Beckhoff/CCAT.git
[submodule "Protocols/EtherCAT/Beckhoff/ADS"]
	path = Beckhoff/ADS
	url = https://github.com/Beckhoff/ADS.git
[submodule "Protocols/EtherCAT/FreeECAT"]
	path = Protocols/EtherCAT/FreeECAT
	url = https://github.com/suda-morris/FreeECAT.git
[submodule "X-Ray/ComptonSoft"]
	path = X-Ray/ComptonSoft
	url = https://github.com/odakahirokazu/ComptonSoft.git
[submodule "X-Ray/ADXpad"]
	path = X-Ray/ADXpad
	url = https://github.com/ImXPAD/ADXpad.git
[submodule "X-Ray/Lima-camera-imxpad"]
	path = X-Ray/Lima-camera-imxpad
	url = https://github.com/esrf-bliss/Lima-camera-imxpad.git
[submodule "X-Ray/ADCore"]
	path = X-Ray/ADCore
	url = https://github.com/areaDetector/ADCore.git
[submodule "X-Ray/quadEM"]
	path = X-Ray/quadEM
	url = https://github.com/epics-modules/quadEM.git
[submodule "EPICS/areaDetector"]
	path = EPICS/areaDetector
	url = https://github.com/areaDetector/areaDetector.git
[submodule "X-Ray/dxp"]
	path = X-Ray/dxp
	url = https://github.com/epics-modules/dxp.git
[submodule "X-Ray/gxs700"]
	path = X-Ray/gxs700
	url = https://github.com/JohnDMcMaster/gxs700.git
[submodule "X-Ray/dxpSITORO"]
	path = X-Ray/dxpSITORO
	url = https://github.com/epics-modules/dxpSITORO.git
[submodule "ChimeraTK/MotorDriverCard"]
	path = ChimeraTK/MotorDriverCard
	url = https://github.com/ChimeraTK/MotorDriverCard.git
[submodule "ChimeraTK/ApplicationCore"]
	path = ChimeraTK/ApplicationCore
	url = https://github.com/ChimeraTK/ApplicationCore.git
[submodule "ChimeraTK/DeviceAccess"]
	path = ChimeraTK/DeviceAccess
	url = https://github.com/ChimeraTK/DeviceAccess.git
[submodule "ChimeraTK/ControlSystemAdapter"]
	path = ChimeraTK/ControlSystemAdapter
	url = https://github.com/ChimeraTK/ControlSystemAdapter.git
[submodule "ChimeraTK/QtHardMon"]
	path = ChimeraTK/QtHardMon
	url = https://github.com/ChimeraTK/QtHardMon.git
[submodule "ABElectronics/ABElectronics_Python_Libraries"]
	path = ABElectronics/ABElectronics_Python_Libraries
	url = https://github.com/abelectronicsuk/ABElectronics_Python_Libraries.git
[submodule "ABElectronics/ABElectronics_NodeJS_Libraries"]
	path = ABElectronics/ABElectronics_NodeJS_Libraries
	url = https://github.com/abelectronicsuk/ABElectronics_NodeJS_Libraries.git
[submodule "ABElectronics/ABElectronics_CPP_Libraries"]
	path = ABElectronics/ABElectronics_CPP_Libraries
	url = https://github.com/abelectronicsuk/ABElectronics_CPP_Libraries.git
[submodule "ABElectronics/ABElectronics_C_Libraries"]
	path = ABElectronics/ABElectronics_C_Libraries
	url = https://github.com/abelectronicsuk/ABElectronics_C_Libraries.git
[submodule "3D-Scanner/SuperScanner/superscanner-software-s3"]
	path = 3D-Scanner/SuperScanner/superscanner-software-s3
	url = https://github.com/josemarroquintoledo/superscanner-software-s3.git
[submodule "3D-Scanner/FabScanPi/FabScanPi-Server"]
	path = 3D-Scanner/FabScanPi/FabScanPi-Server
	url = https://github.com/mariolukas/FabScanPi-Server.git
[submodule "3D-Scanner/FabScanPi/FabScanPi-Frontend"]
	path = 3D-Scanner/FabScanPi/FabScanPi-Frontend
	url = https://github.com/mariolukas/FabScanPi-Frontend.git
[submodule "3D-Scanner/FabScanPi/FabScanPi-Firmware"]
	path = 3D-Scanner/FabScanPi/FabScanPi-Firmware
	url = https://github.com/mariolukas/FabScanPi-Firmware.git
[submodule "3D-Scanner/Sardauscan"]
	path = 3D-Scanner/Sardauscan
	url = https://github.com/Sardau/Sardauscan.git
[submodule "3D-Scanner/FabScanPi/FabScan-Case"]
	path = 3D-Scanner/FabScanPi/FabScan-Case
	url = https://github.com/mariolukas/FabScan-Case.git
[submodule "3D-Scanner/LibreScanner/horus"]
	path = 3D-Scanner/LibreScanner/horus
	url = https://github.com/LibreScanner/horus.git
[submodule "3D-Scanner/LibreScanner/horus-fw"]
	path = 3D-Scanner/LibreScanner/horus-fw
	url = https://github.com/LibreScanner/horus-fw.git
[submodule "3D-Scanner/LibreScanner/ciclop"]
	path = 3D-Scanner/LibreScanner/ciclop
	url = https://github.com/LibreScanner/ciclop.git
[submodule "3D-Scanner/FreeLSS/freelss"]
	path = 3D-Scanner/FreeLSS/freelss
	url = https://github.com/hairu/freelss.git
[submodule "3D-Scanner/Libraries/vcglib"]
	path = 3D-Scanner/Libraries/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib.git
[submodule "3D-Scanner/Libraries/meshlabjs"]
	path = 3D-Scanner/Libraries/meshlabjs
	url = https://github.com/cnr-isti-vclab/meshlabjs.git
[submodule "3D-Scanner/Libraries/meshlab"]
	path = 3D-Scanner/Libraries/meshlab
	url = https://github.com/cnr-isti-vclab/meshlab.git
[submodule "3D-Scanner/Libraries/piccante"]
	path = 3D-Scanner/Libraries/piccante
	url = https://github.com/cnr-isti-vclab/piccante.git
[submodule "3D-Scanner/FabScan/FabScan"]
	path = 3D-Scanner/FabScan/FabScan
	url = https://github.com/francisengelmann/FabScan.git
[submodule "3D-Scanner/FabScan/FabScan100"]
	path = 3D-Scanner/FabScan/FabScan100
	url = https://github.com/francisengelmann/FabScan100.git
[submodule "3D-Scanner/MakerScanner/makerscanner"]
	path = 3D-Scanner/MakerScanner/makerscanner
	url = https://github.com/andybarry/makerscanner.git
[submodule "3D-Scanner/Parsley/parsley"]
	path = 3D-Scanner/Parsley/parsley
	url = https://github.com/cheind/parsley.git
[submodule "DCS/Tango-Controls/tango-webapp"]
	path = DCS/Tango-Controls/tango-webapp
	url = https://github.com/tango-controls/tango-webapp.git
[submodule "DCS/Tango-Controls/cppTango"]
	path = DCS/Tango-Controls/cppTango
	url = https://github.com/tango-controls/cppTango.git
[submodule "DCS/VOLTTRON/volttron"]
	path = DCS/VOLTTRON/volttron
	url = https://github.com/VOLTTRON/volttron.git
[submodule "3D-Scanner/pylatscan"]
	path = 3D-Scanner/pylatscan
	url = https://github.com/mvhenten/pylatscan.git
[submodule "OpenCNC/OpenCNCPilot"]
	path = OpenCNC/OpenCNCPilot
	url = https://github.com/martin2250/OpenCNCPilot.git
[submodule "OpenCNC/CNCTool"]
	path = OpenCNC/CNCTool
	url = https://github.com/martin2250/CNCTool.git
[submodule "3D-Scanner/PulsedLight3dScanner"]
	path = 3D-Scanner/PulsedLight3dScanner
	url = https://github.com/PulsedLight3D/PulsedLight3dScanner.git
[submodule "X-Ray/Dicom-Viewer"]
	path = X-Ray/Dicom-Viewer
	url = https://github.com/LunchBox/Dicom-Viewer.git
[submodule "X-Ray/cxv"]
	path = X-Ray/cxv
	url = https://github.com/lukemueller/cxv.git
[submodule "X-Ray/webDICOM"]
	path = X-Ray/webDICOM
	url = https://github.com/mi-kas/webDICOM.git
[submodule "X-Ray/droid-dicom-viewer"]
	path = X-Ray/droid-dicom-viewer
	url = https://github.com/yy1300326388/droid-dicom-viewer.git
[submodule "X-Ray/dicom-viewer"]
	path = X-Ray/dicom-viewer
	url = https://github.com/grzegorzgajda/dicom-viewer.git
[submodule "X-Ray/d3-xray"]
	path = X-Ray/d3-xray
	url = https://github.com/vijithassar/d3-xray.git
[submodule "X-Ray/studycentric"]
	path = X-Ray/studycentric
	url = https://github.com/chop-dbhi/studycentric.git
[submodule "X-Ray/ginkgocadx"]
	path = X-Ray/ginkgocadx
	url = https://github.com/gerddie/ginkgocadx.git
[submodule "X-Ray/dicomviewer"]
	path = X-Ray/dicomviewer
	url = https://github.com/ayselafsar/dicomviewer.git
[submodule "X-Ray/xpedaq"]
	path = X-Ray/xpedaq
	url = https://github.com/lucabaldini/xpedaq.git
[submodule "X-Ray/xrayvision"]
	path = X-Ray/xrayvision
	url = https://github.com/sunpy/xrayvision.git
[submodule "X-Ray/osirix"]
	path = X-Ray/osirix
	url = https://github.com/pixmeo/osirix.git
[submodule "X-Ray/dwv"]
	path = X-Ray/dwv
	url = https://github.com/ivmartel/dwv.git
[submodule "X-Ray/xray-vision"]
	path = X-Ray/xray-vision
	url = https://github.com/Nikea/xray-vision.git
[submodule "X-Ray/cornerstone"]
	path = X-Ray/cornerstone
	url = https://github.com/cornerstonejs/cornerstone.git
[submodule "X-Ray/dwv-angular"]
	path = X-Ray/dwv-angular
	url = https://github.com/ivmartel/dwv-angular.git
[submodule "X-Ray/dwv-react"]
	path = X-Ray/dwv-react
	url = https://github.com/ivmartel/dwv-react.git
[submodule "X-Ray/dwv-jqmobile"]
	path = X-Ray/dwv-jqmobile
	url = https://github.com/ivmartel/dwv-jqmobile.git
[submodule "X-Ray/dwv-vue"]
	path = X-Ray/dwv-vue
	url = https://github.com/ivmartel/dwv-vue.git
[submodule "X-Ray/Viewers"]
	path = X-Ray/Viewers
	url = https://github.com/OHIF/Viewers.git
[submodule "X-Ray/js-dicom-viewer"]
	path = X-Ray/js-dicom-viewer
	url = https://github.com/cvdlab/dicom-viewer.git
[submodule "X-Ray/fabio"]
	path = X-Ray/fabio
	url = https://github.com/silx-kit/fabio.git
[submodule "OpenPLC/OpenPLC"]
	path = OpenPLC/OpenPLC
	url = https://github.com/thiagoralves/OpenPLC.git
[submodule "OpenPLC/OpenPLC_v2"]
	path = OpenPLC/OpenPLC_v2
	url = https://github.com/thiagoralves/OpenPLC_v2.git
[submodule "OpenPLC/OpenPLC_v3"]
	path = OpenPLC/OpenPLC_v3
	url = https://github.com/thiagoralves/OpenPLC_v3.git
[submodule "OpenPLC/OpenPLC-Neo"]
	path = OpenPLC/OpenPLC-Neo
	url = https://github.com/thiagoralves/OpenPLC-Neo.git
[submodule "OpenPLC/OpenPLC-Ladder-Editor"]
	path = OpenPLC/OpenPLC-Ladder-Editor
	url = https://github.com/thiagoralves/OpenPLC-Ladder-Editor.git
[submodule "OpenPLC/OpenPLC_Files"]
	path = OpenPLC/OpenPLC_Files
	url = https://github.com/thiagoralves/OpenPLC_Files.git
[submodule "Monarco/monarco-hat-driver-c"]
	path = Monarco/monarco-hat-driver-c
	url = https://github.com/monarco/monarco-hat-driver-c.git
[submodule "Monarco/monarco-hat-driver-nodejs"]
	path = Monarco/monarco-hat-driver-nodejs
	url = https://github.com/monarco/monarco-hat-driver-nodejs.git
[submodule "Monarco/node-red-contrib-monarco-hat"]
	path = Monarco/node-red-contrib-monarco-hat
	url = https://github.com/monarco/node-red-contrib-monarco-hat.git
[submodule "Controllino-PLC/CONTROLLINO_Library"]
	path = Controllino-PLC/CONTROLLINO_Library
	url = https://github.com/CONTROLLINO-PLC/CONTROLLINO_Library.git
[submodule "Controllino-PLC/CONTROLLINO_Samples"]
	path = Controllino-PLC/CONTROLLINO_Samples
	url = https://github.com/ckuehnel/Controllino.git
[submodule "RexControls/rex-install-rpi"]
	path = RexControls/rex-install-rpi
	url = https://github.com/rexcontrols/rex-install-rpi.git
[submodule "RexControls/REXexamples"]
	path = RexControls/REXexamples
	url = https://github.com/rexcontrols/REXexamples.git
[submodule "Widgetlords/libwidgetlords"]
	path = Widgetlords/libwidgetlords
	url = https://github.com/widgetlords/libwidgetlords.git
[submodule "Widgetlords/node-red-contrib-widgetlords"]
	path = Widgetlords/node-red-contrib-widgetlords
	url = https://github.com/widgetlords/node-red-contrib-widgetlords.git
[submodule "RevolutionPi/piControl"]
	path = RevolutionPi/piControl
	url = https://github.com/RevolutionPi/piControl.git
[submodule "RevolutionPi/imagebakery"]
	path = RevolutionPi/imagebakery
	url = https://github.com/RevolutionPi/imagebakery.git
[submodule "RevolutionPi/kernelbakery"]
	path = RevolutionPi/kernelbakery
	url = https://github.com/RevolutionPi/kernelbakery.git
[submodule "RevolutionPi/IODeviceExample"]
	path = RevolutionPi/IODeviceExample
	url = https://github.com/RevolutionPi/IODeviceExample.git
[submodule "UniPi/evok"]
	path = UniPi/evok
	url = https://github.com/UniPiTechnology/evok.git
[submodule "UniPi/neuron-tcp-modbus-overlay"]
	path = UniPi/neuron-tcp-modbus-overlay
	url = https://github.com/UniPiTechnology/neuron-tcp-modbus-overlay.git
[submodule "3D-Scanner/Scanse/sweep-sdk"]
	path = 3D-Scanner/Scanse/sweep-sdk
	url = https://github.com/scanse/sweep-sdk.git
[submodule "3D-Scanner/Scanse/sweep-3d-scanner-unity-viewer"]
	path = 3D-Scanner/Scanse/sweep-3d-scanner-unity-viewer
	url = https://github.com/scanse/sweep-3d-scanner-unity-viewer.git
[submodule "3D-Scanner/Scanse/sweep-learning-examples"]
	path = 3D-Scanner/Scanse/sweep-learning-examples
	url = https://github.com/scanse/sweep-learning-examples.git
[submodule "3D-Scanner/Scanse/sweep-ros"]
	path = 3D-Scanner/Scanse/sweep-ros
	url = https://github.com/scanse/sweep-ros.git
[submodule "3D-Scanner/Scanse/sweep-arduino"]
	path = 3D-Scanner/Scanse/sweep-arduino
	url = https://github.com/scanse/sweep-arduino.git
[submodule "3D-Scanner/Scanse/sweep-3d-scanner"]
	path = 3D-Scanner/Scanse/sweep-3d-scanner
	url = https://github.com/scanse/sweep-3d-scanner.git
[submodule "3D-Scanner/3DScannerESP8266"]
	path = 3D-Scanner/3DScannerESP8266
	url = https://github.com/bitluni/3DScannerESP8266.git
[submodule "3D-Scanner/sweep-3d-lidar"]
	path = 3D-Scanner/sweep-3d-lidar
	url = https://github.com/cansik/sweep-3d-lidar.git
[submodule "3D-Scanner/open-lidar-scanner"]
	path = 3D-Scanner/open-lidar-scanner
	url = https://github.com/cansik/open-lidar-scanner.git
[submodule "3D-Scanner/hdl_localization"]
	path = 3D-Scanner/hdl_localization
	url = https://github.com/koide3/hdl_localization.git
[submodule "3D-Scanner/Lidar-Scanner"]
	path = 3D-Scanner/Lidar-Scanner
	url = https://github.com/renkh/Lidar-Scanner.git
[submodule "3D-Scanner/BreezyLidar"]
	path = 3D-Scanner/BreezyLidar
	url = https://github.com/simondlevy/BreezyLidar.git
[submodule "3D-Scanner/SyntheticLidarScanner"]
	path = 3D-Scanner/SyntheticLidarScanner
	url = https://github.com/daviddoria/SyntheticLidarScanner.git
[submodule "3D-Scanner/FinalProjectLidar"]
	path = 3D-Scanner/FinalProjectLidar
	url = https://github.com/andrefedalto/lidar-scanner.git
[submodule "3D-Scanner/rp-3d-scanner"]
	path = 3D-Scanner/rp-3d-scanner
	url = https://github.com/robopeak/rp-3d-scanner.git
[submodule "Protocols/G-Code/bCNC"]
	path = Protocols/G-Code/bCNC
	url = https://github.com/vlachoudis/bCNC.git
[submodule "Protocols/G-Code/Universal-G-Code-Sender"]
	path = Protocols/G-Code/Universal-G-Code-Sender
	url = https://github.com/winder/Universal-G-Code-Sender.git
[submodule "Protocols/G-Code/grblweb"]
	path = Protocols/G-Code/grblweb
	url = https://github.com/andrewhodel/grblweb.git
[submodule "Protocols/G-Code/Candle"]
	path = Protocols/G-Code/Candle
	url = https://github.com/Denvi/Candle.git
[submodule "Protocols/G-Code/sourcerabbit-gcode-sender"]
	path = Protocols/G-Code/sourcerabbit-gcode-sender
	url = https://github.com/nsiatras/sourcerabbit-gcode-sender.git
[submodule "Protocols/G-Code/grblgui"]
	path = Protocols/G-Code/grblgui
	url = https://github.com/cody82/grblgui.git
[submodule "Protocols/G-Code/CNCInfusion"]
	path = Protocols/G-Code/CNCInfusion
	url = https://github.com/nm156/CNCInfusion.git
[submodule "3D-Printer/Repetier/Repetier-Firmware"]
	path = 3D-Printer/Repetier/Repetier-Firmware
	url = https://github.com/repetier/Repetier-Firmware.git
[submodule "3D-Printer/Repetier/Repetier-Host"]
	path = 3D-Printer/Repetier/Repetier-Host
	url = https://github.com/repetier/Repetier-Host.git
[submodule "3D-Printer/Repetier/Repetier-Server"]
	path = 3D-Printer/Repetier/Repetier-Server
	url = https://github.com/repetier/Repetier-Server.git
[submodule "3D-Printer/Slic3r/Slic3r"]
	path = 3D-Printer/Slic3r/Slic3r
	url = https://github.com/slic3r/Slic3r.git
[submodule "3D-Printer/reprapweb"]
	path = 3D-Printer/reprapweb
	url = https://github.com/andrewhodel/reprapweb.git
[submodule "3D-Printer/OctoPrint/OctoPrint"]
	path = 3D-Printer/OctoPrint/OctoPrint
	url = https://github.com/foosel/OctoPrint.git
[submodule "3D-Printer/OctoPrint/OctoPi"]
	path = 3D-Printer/OctoPrint/OctoPi
	url = https://github.com/guysoft/OctoPi.git
[submodule "3D-Printer/MarlinFirmware/Marlin"]
	path = 3D-Printer/MarlinFirmware/Marlin
	url = https://github.com/MarlinFirmware/Marlin.git
[submodule "3D-Printer/NodeGoose/node-goose"]
	path = 3D-Printer/NodeGoose/node-goose
	url = https://github.com/rniice/node-goose.git
[submodule "Protocols/G-Code/OpenCNCPilot"]
	path = Protocols/G-Code/OpenCNCPilot
	url = https://github.com/martin2250/OpenCNCPilot.git
[submodule "Protocols/G-Code/GrblServer"]
	path = Protocols/G-Code/GrblServer
	url = https://github.com/cho45/GrblServer.git
[submodule "Protocols/G-Code/cncjs"]
	path = Protocols/G-Code/cncjs
	url = https://github.com/cncjs/cncjs.git
[submodule "Protoneer/GRBL-Arduino-Library"]
	path = Protoneer/GRBL-Arduino-Library
	url = https://github.com/Protoneer/GRBL-Arduino-Library.git
[submodule "Protoneer/Raspberry-Pi-CNC"]
	path = Protoneer/Raspberry-Pi-CNC
	url = https://github.com/Protoneer/Raspberry-Pi-CNC.git
[submodule "Protoneer/RPI-CNC-Config-Scripts"]
	path = Protoneer/RPI-CNC-Config-Scripts
	url = https://github.com/Protoneer/RPI-CNC-Config-Scripts.git
[submodule "CAMotics/CAMotics"]
	path = CAMotics/CAMotics
	url = https://github.com/CauldronDevelopmentLLC/CAMotics.git
[submodule "CAMotics/Buildbotics/bbctrl-firmware"]
	path = CAMotics/Buildbotics/bbctrl-firmware
	url = https://github.com/buildbotics/bbctrl-firmware.git
[submodule "CAMotics/Buildbotics/bbctrl-pcb"]
	path = CAMotics/Buildbotics/bbctrl-pcb
	url = https://github.com/buildbotics/bbctrl-pcb.git
[submodule "CAMotics/Buildbotics/bbctrl-datasheet"]
	path = CAMotics/Buildbotics/bbctrl-datasheet
	url = https://github.com/buildbotics/bbctrl-datasheet.git
[submodule "CAMotics/Buildbotics/bbctrl-enclosure"]
	path = CAMotics/Buildbotics/bbctrl-enclosure
	url = https://github.com/buildbotics/bbctrl-enclosure.git
[submodule "Scada-Systems/szarp"]
	path = Scada-Systems/szarp
	url = https://github.com/Newterm/szarp.git
[submodule "Scada-Systems/OpenMUC/jrxtx"]
	path = Scada-Systems/OpenMUC/jrxtx
	url = https://github.com/openmuc/jrxtx.git
[submodule "Scada-Systems/OpenMUC/openiec61850"]
	path = Scada-Systems/OpenMUC/openiec61850
	url = https://github.com/openmuc/openiec61850.git
[submodule "Scada-Systems/OpenMUC/jasn1"]
	path = Scada-Systems/OpenMUC/jasn1
	url = https://github.com/openmuc/jasn1.git
[submodule "Protocols/G-Code/webgcode"]
	path = Protocols/G-Code/webgcode
	url = https://github.com/nraynaud/webgcode.git
[submodule "Protocols/G-Code/PyCNC"]
	path = Protocols/G-Code/PyCNC
	url = https://github.com/Nikolay-Kha/PyCNC.git
[submodule "3D-Printer/Printrun"]
	path = 3D-Printer/Printrun
	url = https://github.com/kliment/Printrun
[submodule "3D-Printer/franklin"]
	path = 3D-Printer/franklin
	url = https://github.com/mtu-most/franklin
[submodule "3D-Scanner/Ciclop/thot"]
	path = 3D-Scanner/Ciclop/thot
	url = https://github.com/fdev31/thot
[submodule "3D-Scanner/3D-SCANNER-IITB"]
	path = 3D-Scanner/3D-SCANNER-IITB
	url = https://github.com/animeshsrivastava24/3D-SCANNER-IITB
[submodule "3D-Scanner/SFM-Scanner"]
	path = 3D-Scanner/SFM-Scanner
	url = https://github.com/tyhenry/3DScanner
[submodule "3D-Printer/hackathon-slicer"]
	path = 3D-Printer/hackathon-slicer
	url = https://github.com/Formlabs/hackathon-slicer
[submodule "LDmicro"]
	path = LDmicro
	url = https://github.com/LDmicro/LDmicro
[submodule "SimPyLC"]
	path = SimPyLC
	url = https://github.com/QQuick/SimPyLC
[submodule "PyCNC"]
	path = PyCNC
	url = https://github.com/Nikolay-Kha/PyCNC
[submodule "SiviCNCDriver"]
	path = SiviCNCDriver
	url = https://github.com/Klafyvel/SiviCNCDriver
[submodule "cncgcodecontroller"]
	path = cncgcodecontroller
	url = https://github.com/pknoe3lh/cncgcodecontroller
[submodule "ARM-CNC"]
	path = ARM-CNC
	url = https://github.com/sonicyang/ARM-CNC
[submodule "Enhanced-CNC-Controller"]
	path = Enhanced-CNC-Controller
	url = https://github.com/anarchih/Enhanced-CNC-Controller
[submodule "plcthesis"]
	path = plcthesis
	url = https://github.com/vortex-5/plcthesis
[submodule "plcopeneditor"]
	path = plcopeneditor
	url = https://github.com/gjbroom/plcopeneditor
[submodule "oscada"]
	path = oscada
	url = https://github.com/alimon/oscada
