[submodule "linuxcnc"]
	path = linuxCNC/linuxcnc
	url = https://github.com/LinuxCNC/linuxcnc.git
[submodule "openSAFETY_DEMO"]
	path = openSAFETY_DEMO
	url = https://github.com/OpenAutomationTechnologies/openSAFETY_DEMO.git
[submodule "Protocols/openPOWERLINK_V2"]
	path = Protocols/openPOWERLINK_V2
	url = https://github.com/OpenAutomationTechnologies/openPOWERLINK_V2.git
[submodule "Protocols/UAVCAN/libuavcan"]
	path = Protocols/UAVCAN/libuavcan
	url = https://github.com/UAVCAN/libuavcan.git
[submodule "Protocols/UAVCAN/libcanard"]
	path = Protocols/UAVCAN/libcanard
	url = https://github.com/UAVCAN/libcanard.git
[submodule "Protocols/UAVCAN/pyuavcan"]
	path = Protocols/UAVCAN/pyuavcan
	url = https://github.com/UAVCAN/pyuavcan.git
[submodule "openPLC"]
	path = linuxPLC
	url = https://github.com/thiagoralves/OpenPLC.git
[submodule "openPLCv2"]
	path = linuxPLCv2
	url = https://github.com/thiagoralves/OpenPLC_v2.git
[submodule "open-plc"]
	path = open-plc
	url = https://github.com/leocat3/open-plc.git
[submodule "stellarisMODBUS"]
	path = stellarisMODBUS
	url = https://github.com/mota37/Modbus.git
[submodule "GE-PLC"]
	path = GE-PLC
	url = https://github.com/mota37/GE-PLC.git
[submodule "openXHC"]
	path = openXHC
	url = https://github.com/mrgsts/openxhc.git
[submodule "Protocols/bacnet-stack"]
	path = Protocols/bacnet-stack
	url = https://github.com/stargieg/bacnet-stack.git
[submodule "Protocols/libmodbus"]
	path = Protocols/Modbus/libmodbus
	url = https://github.com/stephane/libmodbus.git
[submodule "Protocols/can-utils"]
	path = Protocols/CAN/SocketCAN/can-utils
	url = https://github.com/linux-can/can-utils.git
[submodule "Protocols/can-tests"]
	path = Protocols/CAN/SocketCAN/can-tests
	url = https://github.com/linux-can/can-tests.git
[submodule "Protocols/cannelloni"]
	path = Protocols/CAN/SocketCAN/cannelloni
	url = https://github.com/mguentner/cannelloni.git
[submodule "Protocols/freemodbus"]
	path = Protocols/Modbus/freemodbus
	url = https://github.com/webconn/freemodbus.git
[submodule "Protocols/socketcand"]
	path = Protocols/CAN/SocketCAN/socketcand
	url = https://github.com/dschanoeh/socketcand.git
[submodule "Protocols/freemodbus-v1.5.0"]
	path = Protocols/Modbus/freemodbus-v1.5.0
	url = https://github.com/nucleron/freemodbus-v1.5.0.git
[submodule "Protocols/EtherCAT-Slave"]
	path = Protocols/EtherCAT/OpenEtherCATSociety/EtherCAT-Slave
	url = https://github.com/OpenEtherCATsociety/SOES.git
[submodule "Protocols/EtherCAT-Master"]
	path = Protocols/EtherCAT/OpenEtherCATSociety/EtherCAT-Master
	url = https://github.com/OpenEtherCATsociety/SOEM.git
[submodule "Protocols/CANOpen/CANopenNode"]
	path = Protocols/CAN/CANOpen/CANopenNode
	url = https://github.com/CANopenNode/CANopenNode.git
[submodule "Protocols/CANOpen/CANopenSocket"]
	path = Protocols/CAN/CANOpen/CANopenSocket
	url = https://github.com/CANopenNode/CANopenSocket.git
[submodule "Protocols/rscada-libmodbus"]
	path = Protocols/rscada-libmodbus
	url = https://github.com/rscada/libmodbus.git
[submodule "Protocols/rscada-libcanopen"]
	path = Protocols/rscada-libcanopen
	url = https://github.com/rscada/libcanopen.git
[submodule "CAN-Ethernet-Gateway/can_eth_gw"]
	path = CAN-Ethernet-Gateway/can_eth_gw
	url = https://github.com/can-eth-gw/can_eth_gw.git
[submodule "CAN-Ethernet-Gateway/cegwsend"]
	path = CAN-Ethernet-Gateway/cegwsend
	url = https://github.com/can-eth-gw/cegwsend.git
[submodule "CAN-Ethernet-Gateway/cegwctl"]
	path = CAN-Ethernet-Gateway/cegwctl
	url = https://github.com/can-eth-gw/cegwctl.git
[submodule "Protocols/OpENer"]
	path = Protocols/OpENer
	url = https://github.com/EIPStackGroup/OpENer.git
[submodule "Protocols/CIPster"]
	path = Protocols/CIPster
	url = https://github.com/liftoff-sr/CIPster.git
[submodule "SocketCAN/test-can-j1939"]
	path = Protocols/CAN/SocketCAN/test-can-j1939
	url = https://github.com/kurt-vd/test-can-j1939.git
[submodule "SocketCAN/libsocketcan"]
	path = Protocols/CAN/SocketCAN/libsocketcan
	url = https://github.com/lalten/libsocketcan.git
[submodule "Protocols/CANtact/cantact-fw"]
	path = Protocols/CAN/CANtact/cantact-fw
	url = https://github.com/linklayer/cantact-fw.git
[submodule "Protocols/CANtact/candleLight_fw"]
	path = Protocols/CAN/CANtact/candleLight_fw
	url = https://github.com/HubertD/candleLight_fw.git
[submodule "SocketCAN/socketcan_gs_usb"]
	path = Protocols/CAN/SocketCAN/socketcan_gs_usb
	url = https://github.com/HubertD/socketcan_gs_usb.git
[submodule "SocketCAN/cangaroo"]
	path = Protocols/CAN/SocketCAN/cangaroo
	url = https://github.com/HubertD/cangaroo.git
[submodule "SocketCAN/icsscand"]
	path = Protocols/CAN/SocketCAN/icsscand
	url = https://github.com/intrepidcs/icsscand.git
[submodule "Protocols/CANOpen/CANFestivino"]
	path = Protocols/CAN/CANOpen/CANFestivino
	url = https://github.com/jgeisler0303/CANFestivino.git
[submodule "Protocols/FlexCAN/FlexCAN_Library"]
	path = Protocols/CAN/FlexCAN/FlexCAN_Library
	url = https://github.com/pawelsky/FlexCAN_Library.git
[submodule "SocketCAN/intrepid-socketcan-kernel-module"]
	path = Protocols/CAN/SocketCAN/intrepid-socketcan-kernel-module
	url = https://github.com/intrepidcs/intrepid-socketcan-kernel-module.git
[submodule "SocketCAN/icsneo_sample_linux"]
	path = Protocols/CAN/SocketCAN/icsneo_sample_linux
	url = https://github.com/intrepidcs/icsneo_sample_linux.git
[submodule "SocketCAN/icsneoapi"]
	path = Protocols/CAN/SocketCAN/icsneoapi
	url = https://github.com/intrepidcs/icsneoapi.git
[submodule "Protocols/bacnet-demo"]
	path = Protocols/bacnet-demo
	url = https://github.com/embeddedarm/bacnet-demo.git
[submodule "DieBie/DieBieMS"]
	path = DieBie/DieBieMS
	url = https://github.com/DieBieEngineering/DieBieMS.git
[submodule "DieBie/DieBieMS-Firmware"]
	path = DieBie/DieBieMS-Firmware
	url = https://github.com/DieBieEngineering/DieBieMS-Firmware.git
[submodule "DieBie/DieBieSlave-Firmware"]
	path = DieBie/DieBieSlave-Firmware
	url = https://github.com/DieBieEngineering/DieBieSlave-Firmware.git
[submodule "DieBie/DieBieMS-Bootloader"]
	path = DieBie/DieBieMS-Bootloader
	url = https://github.com/DieBieEngineering/DieBieMS-Bootloader.git
[submodule "grbl"]
	path = grbl
	url = https://github.com/grbl/grbl.git
[submodule "Protocols/FNET"]
	path = Protocols/FNET
	url = https://github.com/butok/FNET.git
[submodule "ethercat-demo"]
	path = Protocols/EtherCAT/EtherCAT-Demo
	url = https://github.com/tmtsoftware/ethercat-demo.git
[submodule "Protocols/libpcan"]
	path = Protocols/CAN/libpcan
	url = https://github.com/kralf/libpcan.git
[submodule "Protocols/libcan"]
	path = Protocols/CAN/libcan
	url = https://github.com/kralf/libcan.git
[submodule "Protocols/libcpc"]
	path = Protocols/CAN/libcpc
	url = https://github.com/kralf/libcpc.git
[submodule "Protocols/libcanplusplus"]
	path = Protocols/CAN/libcanplusplus
	url = https://github.com/ethz-asl/libcanplusplus.git
[submodule "EPICS/mrfioc2"]
	path = EPICS/mrfioc2
	url = https://github.com/epics-modules/mrfioc2.git
[submodule "EPICS/dxp"]
	path = EPICS/dxp
	url = https://github.com/epics-modules/dxp.git
[submodule "EPICS/motor"]
	path = EPICS/motor
	url = https://github.com/epics-modules/motor.git
[submodule "EPICS/modbus"]
	path = EPICS/modbus
	url = https://github.com/epics-modules/modbus.git
[submodule "EPICS/ipac"]
	path = EPICS/ipac
	url = https://github.com/epics-modules/ipac.git
[submodule "EPICS/hpi6016"]
	path = EPICS/hpi6016
	url = https://github.com/mdavidsaver/hpi6016.git
[submodule "EPICS/ethercat"]
	path = EPICS/ethercat
	url = https://github.com/dls-controls/ethercat.git
[submodule "EPICS/asyn"]
	path = EPICS/asyn
	url = https://github.com/epics-modules/asyn.git
[submodule "EPICS/pscdrv"]
	path = EPICS/pscdrv
	url = https://github.com/mdavidsaver/pscdrv.git
[submodule "linuxcnc-ethercat"]
	path = linuxCNC/linuxcnc-ethercat
	url = https://github.com/sittner/linuxcnc-ethercat.git
[submodule "linuxcnc-mbslave"]
	path = linuxCNC/linuxcnc-mbslave
	url = https://github.com/sittner/linuxcnc-mbslave.git
[submodule "linuxcnc-fgfdm"]
	path = linuxCNC/linuxcnc-fgfdm
	url = https://github.com/sittner/linuxcnc-fgfdm.git
[submodule "ethercat-drivers"]
	path = Protocols/EtherCAT/EtherCAT-drivers
	url = https://github.com/ahoarau/ethercat-drivers.git
