// Script de ressources généré par Microsoft Visual C++.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Ressources Anglais (U.S.)


/////////////////////////////////////////////////////////////////////////////
//
// Icône
//

// L'icône placée en premier ou ayant la valeur d'ID la plus basse devient l'icône d'application

LANGUAGE 12, 1
#pragma code_page(1252)
1           ICON         "app.ico"

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE  
BEGIN
    "resource.h\0"
    "\0"
END

2 TEXTINCLUDE  
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Généré à partir de la ressource TEXTINCLUDE 3.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // non APSTUDIO_INVOKED

