<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="gsmsettings" type="ScadaShell.GSMLogger.GsmLoggerSettings, ScadaShell, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <gsmsettings ComPort="COM2">
    <TelNumbers>
      <add telnum="0674821767"/>
      <add telnum="0674860694"/>
    </TelNumbers>
  </gsmsettings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>

      
      <add fileName="d:\scadashell.log" 
           header="----------------------------------------" 
           footer="----------------------------------------" 
           formatter="Text Formatter" 
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" 
           traceOutputOptions="None" 
           filter="All" 
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" 
           name="Flat File Log"/>
      
        <add name="Event Log Listener" 
            type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
            listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
            source="ScadaShell Log" 
            formatter="Text Formatter" 
            log=""
            machineName="."
            traceOutputOptions="None" />
      </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}
           Message: {message}
           Category: {category}
           Priority: {priority}
           EventId: {eventid}
           Severity: {severity}
           Title:{title}
           Machine: {machine}
           Application Domain: {appDomain}
           Process Id: {processId}
           Process Name: {processName}
           Win32 Thread Id: {win32ThreadId}
           Thread Name: {threadName}
           Extended Properties: {dictionary({key} - {value})}"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" 
           name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="ActivityTracing" name="Information">
        <listeners>
          <add name="Flat File Log"/>
          <add name="Event Log Listener"/> 
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="Flat File Log"/>
          <add name="Event Log Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Flat File Log"/>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Log"/>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <securityConfiguration defaultAuthorizationInstance="RuleProvider" defaultSecurityCacheInstance="">
    <authorizationProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security" name="RuleProvider">
        <rules>
          <add expression="R:Guests OR R:Developer OR R:Operator" name="View"/>
          <add expression="R:Developer" name="Tune"/>
          <add expression="R:Developer OR R:Operator" name="Control"/>
        </rules>
      </add>
    </authorizationProviders>
  </securityConfiguration>
  <system.web>
    <membership defaultProvider="ReadOnlyXmlMembershipProvider">
      <providers>
        <add name="ReadOnlyXmlMembershipProvider" type="ScadaShell.Security.Providers.ReadOnlyXmlMembershipProvider, ScadaShell" description="Read-only XML membership provider" xmlFileName="Users.xml"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ReadOnlyXmlRoleProvider">
      <providers>
        <add name="ReadOnlyXmlRoleProvider" type="ScadaShell.Security.Providers.ReadOnlyXmlRoleProvider, ScadaShell" description="Read-only XML role provider" xmlFileName="Users.xml"/>
      </providers>
    </roleManager>
  </system.web>

</configuration>
